<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.accountbook.dao.RecordMapper">

    <select id="countRecordList" parameterType="com.example.accountbook.vo.record.RecordListReqVo" resultType="_int">
        SELECT COUNT(*)
        FROM bill_record
        WHERE group_id = #{groupId}
        <if test="fromDate != null">
            AND record_time >= #{fromDate} AND record_time  &lt;= #{toDate}
        </if>
        <if test="limitName != null">
            AND creator_name = #{limitName}
        </if>
        <if test="limitTypeId != null">
            AND type_id =#{limitTypeId}
        </if>
        <if test="kind == 'IN'.toString()">
            AND amount > 0
        </if>
        <if test="kind == 'OUT'.toString()">
            AND amount  &lt;0
        </if>
    </select>

    <select id="computeTotalAmount" parameterType="com.example.accountbook.vo.record.RecordListReqVo" resultType="java.lang.Double">
        SELECT SUM(amount)
        FROM bill_record
        WHERE group_id = #{groupId}
        <if test="fromDate != null">
            AND record_time >= #{fromDate} AND record_time  &lt;= #{toDate}
        </if>
        <if test="limitName != null">
            AND creator_name = #{limitName}
        </if>
        <if test="limitTypeId != null">
            AND type_id =#{limitTypeId}
        </if>
        <if test="kind == 'IN'.toString()">
            AND amount > 0
        </if>
        <if test="kind == 'OUT'.toString()">
            AND amount  &lt;0
        </if>
        ORDER BY record_time DESC
    </select>

    <select id="queryRecordList" parameterType="com.example.accountbook.vo.record.RecordListReqVo" resultType="com.example.accountbook.entity.BillRecord">
        SELECT r_id, group_id, type_id, name, record_time, amount, information, creator_id, creator_name, create_time, status
        FROM bill_record
        WHERE group_id = #{groupId}
        <if test="fromDate != null">
            AND record_time >= #{fromDate} AND record_time  &lt;= #{toDate}
        </if>
        <if test="limitName != null">
            AND creator_name = #{limitName}
        </if>
        <if test="limitTypeId != null">
            AND type_id =#{limitTypeId}
        </if>
        <if test="kind == 'IN'.toString()">
            AND amount > 0
        </if>
        <if test="kind == 'OUT'.toString()">
            AND amount  &lt;0
        </if>
        ORDER BY record_time DESC
        LIMIT #{start}, #{size}
    </select>

    <select id="queryRecordPie" parameterType="com.example.accountbook.vo.record.RecordListReqVo" resultType="com.example.accountbook.vo.record.RecordPieRespVo">
        SELECT type_id, SUM(amount) as total_amount
        FROM bill_record
        WHERE group_id = #{groupId}
        <if test="fromDate != null">
            AND record_time >= #{fromDate} AND record_time  &lt;= #{toDate}
        </if>
        <if test="limitName != null">
            AND creator_name = #{limitName}
        </if>
        <if test="limitTypeId != null">
            AND type_id =#{limitTypeId}
        </if>
        <if test="kind == 'IN'.toString()">
            AND amount > 0
        </if>
        <if test="kind == 'OUT'.toString()">
            AND amount  &lt;0
        </if>
        GROUP BY type_id
    </select>


    <select id="queryRecordLine" parameterType="com.example.accountbook.vo.record.RecordListReqVo" resultType="com.example.accountbook.vo.record.RecordLineRespVo">
        SELECT type_id, record_time, SUM(amount) as total_amount
        FROM bill_record
        WHERE group_id = #{groupId}
        <if test="fromDate != null">
            AND record_time >= #{fromDate} AND record_time  &lt;= #{toDate}
        </if>
        <if test="limitName != null">
            AND creator_name = #{limitName}
        </if>
        <if test="limitTypeId != null">
            AND type_id =#{limitTypeId}
        </if>
        <if test="kind == 'IN'.toString()">
            AND amount > 0
        </if>
        <if test="kind == 'OUT'.toString()">
            AND amount  &lt;0
        </if>
        GROUP BY type_id, record_time
    </select>

    <select id="queryListByDay" resultType="com.example.accountbook.vo.record.RecordTotalDayVo">
        SELECT record_time as time, SUM(amount) as amount
        FROM bill_record
        WHERE group_id = #{groupId}
          AND amount > 0
        <if test="fromDate != null">
            AND record_time >= #{fromDate}
        </if>
        <if test="toDate != null">
            AND record_time &lt;= #{toDate}
        </if>
        GROUP BY record_time
        ORDER BY record_time ${order}
    </select>


</mapper>